/* Root */

:root {
	--primary: #3776ab;
}

::selection {
	color: var(--bs-primary);
	background-color: var(--bs-primary-bg-subtle);
}

body {
	font-family: "Noto Sans", sans-serif !important;
}

a {
	text-decoration: none !important;
}

input:focus {
	outline: none !important;
	box-shadow: none !important;
}

textarea:focus {
	outline: none !important;
	box-shadow: none !important;
}

.dropdown-item {
	padding-top: 8px !important;
	padding-right: 24px !important;
	padding-bottom: 8px !important;
	padding-left: 24px !important;
	border-radius: 0 !important;
	display: flex !important;
	justify-content: start !important;
	align-items: center !important;
}

.dropdown-item.active,
.dropdown-item:active {
	color: white !important;
	background-color: var(--primary) !important;
	text-decoration: none !important;
}

.dropdown-item svg {
	font-size: 20px !important;
}

.dropdown-menu {
	padding-top: 8px !important;
	padding-bottom: 8px !important;
	font-size: 16px !important;
	border-width: 1px !important;
	border-radius: 8px !important;
	box-shadow: none !important;
}
