<!-- Sidebar -->
<div class="vh-100 position-fixed">
    <div id="sidebar" class="d-flex justify-content-between border-end align-items-center border-end">
        <ul class="nav nav-pills flex-column text-center nav-mb-auto">
            
            <!-- Home -->
            <li class="nav-item">
                <a class="nav-link active bg-primary border-bottom sidebar-item" data-bs-toggle="tooltip" data-bss-tooltip="" data-bs-placement="right" href="{{ url_for('templates.home') }}" title="Home">
                    <i class="bi bi-house-fill fs-2"></i>
                </a>
            </li>

            <!-- Link 1 -->
            <li class="nav-item">
                <a class="nav-link border-bottom sidebar-item" data-bs-toggle="tooltip" data-bss-tooltip="" data-bs-placement="right" href="{{ url_for('templates.home') }}" title="Link 1">
                    <i class="bi bi-1-circle-fill fs-2"></i>
                </a>
            </li>

            <!-- Link 2 -->
            <li class="nav-item">
                <a class="nav-link border-bottom sidebar-item" data-bs-toggle="tooltip" data-bss-tooltip="" data-bs-placement="right" href="{{ url_for('templates.home') }}" title="Link 2">
                    <i class="bi bi-2-circle-fill fs-2"></i>
                </a>
            </li>

            <!-- Link 3 -->
            <li class="nav-item">
                <a class="nav-link border-bottom sidebar-item" data-bs-toggle="tooltip" data-bss-tooltip="" data-bs-placement="right" href="{{ url_for('templates.home') }}" title="Link 3">
                    <i class="bi bi-3-circle-fill fs-2"></i>
                </a>
            </li>

            <!-- Link 4 -->
            <li class="nav-item">
                <a class="nav-link border-bottom sidebar-item" data-bs-toggle="tooltip" data-bss-tooltip="" data-bs-placement="right" href="{{ url_for('templates.home') }}" title="Link 4">
                    <i class="bi bi-4-circle-fill fs-2"></i>
                </a>
            </li>

            <!-- Link 5 -->
            <li class="nav-item">
                <a class="nav-link border-bottom sidebar-item" data-bs-toggle="tooltip" data-bss-tooltip="" data-bs-placement="right" href="{{ url_for('templates.home') }}" title="Link 5">
                    <i class="bi bi-5-circle-fill fs-2"></i>
                </a>
            </li>
        </ul>
        <div class="d-flex flex-column justify-content-center align-items-center">

            <!-- Account -->
            <div class="dropup border-top sidebar-item" data-bs-toggle="tooltip" data-bss-tooltip="" data-bs-placement="right" title="Account">
                <a class="d-flex justify-content-center align-items-center" aria-expanded="false" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" href="#">
                    <i class="bi bi-person-circle fs-2"></i>
                </a>
                <div class="dropdown-menu" data-popper-placement="top-start">

                    <!-- Name Surname -->
                    <a class="dropdown-item disabled text-muted" href="#">
                        <i class="bi bi-person-fill fs-5"></i>
                        <span class="ms-3">Name Surname</span>
                    </a>

                    <!-- Role -->
                    <a class="dropdown-item disabled text-muted" href="#">
                        <i class="bi bi-database-fill-gear fs-5"></i>
                        <span class="ms-3">Role</span>
                    </a>

                    <!-- Divider -->
                    <div class="dropdown-divider my-2"></div>
                    
                    <!-- User Management -->
                    <a class="dropdown-item text-primary" href="{{ url_for('templates.home') }}">
                        <i class="bi bi-person-fill-gear fs-5"></i>
                        <span class="ms-3">User Management</span>
                    </a>

                    <!-- Theme Mode -->
                    <a class="dropdown-item text-primary" id="btn_theme_mode" href="#">
                        <i class="bi bi-moon-stars-fill fs-5"></i>
                        <span class="ms-3">Theme Mode</span>
                    </a>

                    <!-- Divider -->
                    <div class="dropdown-divider my-2"></div>

                    <!-- Logout -->
                    <a class="dropdown-item text-primary" href="{{ url_for('templates.home') }}">
                        <i class="bi bi-arrow-left-circle-fill fs-5"></i>
                        <span class="ms-3">Logout</span>
                    </a>
                </div>
            </div>

            <!-- Version -->
            <div class="d-flex justify-content-center align-items-center">
                <span class="badge bg-primary font-monospace text-white mb-3">{{ config.system.version }}</span>
            </div>
        </div>
    </div>
</div>