/* Sidebar :: Components */

#sidebar {
	width: 72px !important;
	height: 100vh !important;
	background-color: var(--bs-body-bg) !important;
	display: flex !important;
	flex-direction: column !important;
}

.sidebar-item {
	width: 72px !important;
	height: 72px !important;
	padding: 0 !important;
	font-size: 32px !important;
	border-radius: 0 !important;
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
}
